{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HTML TABLES</title>
</head>
<body>
      <h1>Students Info</h1>
      <table border = '2px' cellspacing="20px" cellpadding="10px">
      	<tr>
      		<th>S Id</th>
      		<th>S Name</th>
      		<th colspan = "3" >Courses</th>
      	</tr>
      	<tr>
      		<td>001</td>
      		<td>Anusha</td>
      		<td>Python</td>
      		<td>Aptitude</td>
      		<td>Web Technology</td>
      	</tr>
      	<tr>
      		<td>002</td>
      		<td>Vyshnavi</td>
      		<td>Biology</td>
      		<td>Physics</td>
      		<td>Chemistry</td>
      	</tr>
      	 <tr>
      		<td>003</td>
      		<td>Sailaja</td>
      		<td>Forming</td>
      		<td>Homing</td>
      		<td>Care Taking</td>
      	</tr>
      </table>
</body>
</html>